<footer>
    <div class="footer">
    <div class="row">
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-youtube"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
    
    <div class="row">
    <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Store</a></li>
    <li><a href="#">Serviços</a></li>
    <li><a href="#">Notícias</a></li>
    <li><a href="#">Contato</a></li>
    </ul>
    </div>
    
    <div class="row">
     Copyright © 2023  - All rights reserved || Wesley Santos
    </div>
    </div>
    </footer>