<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img
      src="assets/ps-logo.png"
      alt="playstation logo"
      srcset=""
      width="140px"
      height="32px"
    />
  </div>
  <div class="menu-bar__item">
    <ul>
      <li><a href="#">Jogos</a></li>
      <li><a href="#">Hardware</a></li>
      <li><a href="#">Serviços</a></li>
      <li><a href="#">Notícias</a></li>
      <li><a href="#">Loja</a></li>
      <li><a href="#">Suporte</a></li>
    </ul>
    <div id="social-toolbar">
      <div class="social-web-toolbar">
        <button type="button" class="btn btn-danger">Login</button>
          
        
      </div>
    </div>
  </div>
</div>
